.btn3 {
  border: none;
  padding: 10px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
}

.btn3:hover {
  background-color: #f4f4f4;
}

/* border-bottom: 1px solid  #2a609d ; */

.sidenav {
  position: absolute;
  z-index: 1;
  top: -700px;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;

}

.sidenav .closebtn {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
}


.button4 {
  border: none;
  text-align: left;

}

.button4:hover {
  background-color: #f4f4f4;
}

.mod {
  position: relative;
}



/* radio */

input label {

  position: absolute;

}

input[type="radio"] {
  opacity: 0;
}

label {
  
  cursor: pointer;
  font-size: 16px;
}
#btn44{
  position: absolute;
  width: 1px;
  height: 30px;
  border-left: 2px solid   #2a609d;  
  left: -10;
}
#btn55{
  position: absolute;
  width: 1px;
  height: 30px; 
  left: -10;
  border-left: 2px solid   #ffffff;  
}


[aria-hidden="true"] {
  display: none;
}

.show {
  transition: 2s ease-out;
}

@media (max-width:  480px) {
  .ourcars{
    display: none;
  }    
}